.footerBody{
    height: max-content;
    text-align: center;
    position: static;
    width: 100%;
    bottom: 0;
    background-color: #17255A;
}

.info{
    width: 100%;
    text-align: center;
}

ul{
    list-style-type: none;
}

