<header>
    <nav>
      <mat-toolbar class="navbg">
        <div>
            <a routerLink="home" routerLinkActive="active">
                <img src="assets/logo.png" class="icon" alt="logo">
            </a>
        </div>
        <div>
            <a routerLink="home" class="nav-links" routerLinkActive="active">Home</a>
            <a routerLink="products" class="nav-links" routerLinkActive="active">Prodotti</a>
            <a routerLink="cart" class="nav-links" routerLinkActive="active">Carrello</a>
        </div>
      </mat-toolbar>
    </nav>
  </header>
  