<header>
    <nav>
      <mat-toolbar color="primary">
        <div>
            <a routerLink="home" routerLinkActive="active">
                <img src="assets/img/logo.png" alt="logo">
            </a>
        </div>
        <div>
            <a routerLink="home" routerLinkActive="active">Home</a>
            <a routerLink="products" routerLinkActive="active">Prodotti</a>
            <a routerLink="cart" routerLinkActive="active">Carrello</a>
            <button (click)="logout()">{{this.username}}</button>
        </div>
      </mat-toolbar>
    </nav>
  </header>
  