<h1>Elenco Prodotti</h1>
<div class="row" style="height: fit-content;">
  <a >
    <div class="col-md-4" *ngFor="let product of products?.products" style="margin-bottom: 20px;">
      <div class="card">
        <a href="details:">
          <img class="card-img-top" [src]="product.images[0]" alt="Foto del prodotto" style="width: 150px;">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
        </div>
      </div>
    </div>
  </a>
</div>
