<div class="container ">
  <div class="centered-box">
    <h1>Benvenuto, {{localStorage.getUsername()}}</h1>
    <p>Esplora il nostro catalogo, cerca tra migliaia di offerte!</p>
  </div>

  <section class="section">
    <div class="card">
      <img src="assets/electronics-icon.webp"  alt="Image 1" class="card-image">
      <div class="card-content">
        <h2>Vendiamo elettronica!</h2>
        <p>Da piccoli dispositivi come gli smartphone, ai pc portatili!</p>
      </div>
    </div>


    <div class="card">
      <div class="card-content">
        <h2>E anche prodotti personali e per la casa!</h2>
        <p>Dalla profumeria, creme per il corpo, arredamenti per casa e molto altro!</p>
      </div>
      <img src="assets/products-icon.png" alt="Image 2" class="card-image">

    </div>

    <button (click)="navigateToProducts()" class="round-button">Accedi al catalogo</button>

  </section>

</div>
