.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 142px;
}

.centered-box {
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  margin-top: 20px;
}

.card-image {
  width: 20%;
  height: auto;
  margin-right: 10px;
}

.card-content {
  flex: 1;
}

.round-button {
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.round-button:hover {
  background-color: #0056b3;
}