<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
    <div class="details mt-5">
        <div class="img-desc-wrapper j-center">
            <c-carousel [dark]="true" [interval]="0" transition="crossfade">
                <c-carousel-inner>
                  <c-carousel-item *ngFor="let image of products.images">
                    <img [src]="image" alt="Slide Image" class="carousel-image d-block w-100" loading="lazy">
                  </c-carousel-item>
                </c-carousel-inner>
                <c-carousel-control caption="Previous" direction="prev"></c-carousel-control>
                <c-carousel-control caption="Next" direction="next"></c-carousel-control>
              </c-carousel>
            <div class="col-md-3 description">
            <p>
                content: Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, sequi consequatur aut sed placeat voluptas nesciunt odit unde culpa at? Ad corrupti optio nulla, ipsa culpa velit odio totam ullam.
                {{ products?.description }}
            </p>
            </div>  
        </div>
        <div class="content-box">
            <h1>title: {{ products?.title }}</h1>
            <h2>brand: {{products?.brand}}</h2>
            <h3>rating: {{products?.rating}}</h3>
            <p>price: {{ products?.price }}</p>
        </div>
        <div class="d-flex j-center mt-5">
            <form class="d-flex j-center">
                <input class="w-50 text-center" type="text" [id]="value" [value]="inputValue" >
            </form>
        </div>
        <div class="button-box flex-row position-relative mt-2 j-center">
            <button class="btn btn-danger" (click)="handleMinusClick()">-</button>
            <button class="btn btn-primary m-2" (click)="localStorage.addToCart({id:products?.id, qty:this.inputValue})">Aggiungi al carrello</button>
            <button class="btn btn-success" (click)="handlePlusClick()">+</button>
        </div>
    </div>
 
</body>
