<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
    <div class="details mt-5">
        <div class="row w-100 img-desc-wrapper j-center">
            <div class="col-12 col-md-6 col-lg-8 phone-carousel">
                <c-carousel [dark]="true" [interval]="2500" >
                    <c-carousel-inner>
                    <c-carousel-item *ngFor="let image of products.images" class="text-center">
                        <img [src]="image" alt="Slide Image" class="carousel-image" loading="lazy">
                    </c-carousel-item>
                    </c-carousel-inner>
                    <c-carousel-control caption="Previous" class="black-bg" direction="prev"></c-carousel-control>
                    <c-carousel-control caption="Next" direction="next"></c-carousel-control>
                </c-carousel>
            </div>
            <div class="col-12 col-md-6 col-lg-4 description position-relative">
                <p>
                    {{ products?.description }}
                </p>
            </div>  
        </div>
        <div class="content-box mt-5">
            <h1 class="divider">title: {{ products?.title }}</h1>
            <h2 class="divider">brand: {{products?.brand}}</h2>
            <h3 class="divider">rating: {{products?.rating}} ⭐</h3>
            <p class="divider">price: {{ products?.price }} $</p>
        </div>
        <div class="d-flex j-center mt-5">
            <form class="d-flex j-center">
                <input class="w-50 text-center" type="text" [id]="value" [value]="inputValue" >
            </form>
        </div>
        <div class="button-box flex-row position-relative mt-2 j-center">
            <button class="btn btn-danger" (click)="handleMinusClick()">-</button>
            <button class="btn btn-primary m-2" (click)="localStorage.addToCart({id:products?.id, qty:this.inputValue})">Add to cart</button>
            <button class="btn btn-success" (click)="handlePlusClick()">+</button>
        </div>
    </div>
 
</body>
